* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1390px;
    margin: 0 auto;
}

.header-wrapper {
height: 100%;
display: flex;
align-items: center;
}

ul, li, a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
font-weight: 400;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
}

ul {
    display: flex;
    gap: 40px;
}

header {
    background-color: #272C3D;
    height: 70px;
}

span {
    color: #FF9C28;
}

input {
    background-color: #404864;
    width: 241px;
    height: 30px;
    border: 0;
    border-radius: 5px;
}

.search {
    display: flex;
    align-items: center;
    margin-left: 290px;
    margin-right: 50px;
}

.glass {
    transform: translate(-35px);
}

select {
    width: 165px;
    height: 30px;
    background-color: #00000080;
    color: white;
    border: none;
}

.bg {
    width: 100%;
}

h2 {
    font-family: sans-serif;
font-weight: 400;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
padding-top: 45px;
color: white;
}

.sec {
    background-color: black;
}

.f {
    background-image: url('Bg.jpg');
    height: 554px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
}

.second-wrapper {
    background-color: #1B1E27;
    width: 1390px;
    height: 900px;
    margin-top: 70px;
}

.mini {
    display: flex;
    gap: 17px;
}

h5 {
    font-family: sans-serif;
font-weight: 400;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
color: white;
margin-bottom: 30px;
}

.mini p {
    font-family: sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: white;
height: 234px;
height: 234px;
}

.two-mini {
    margin-top: 440px;
    position: absolute;
    left: 25%;
}

.one-mini {
    padding-top: 63px;
    position: absolute;
    left: 25%;
}

.last {
    margin-right: 790px;
}